.DS_Store
__MACOSX/
*.xml
processed_images_colmap/
camera_input_pics/
camera_input_pics_converted/
src/__pycache__/
data/nubzuki.ply
data/human.ply
data/nubzuki_only.ply
data/nubzuki_only_v2.ply
outputs/
mirror_rendering_outputs/
export/

